/* .App {
  text-align: center;
  background-color: #303841;
} */

.App {
  /* background-color: #303841;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  /* color: white; */
}
